{"filter":false,"title":"django.config","tooltip":"/.ebextensions/django.config","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":42},"end":{"row":2,"column":42},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1773819015125,"hash":"317d5f7b534708c0c30fd31e4b67fe25e7cced0c"}